<section data-ng-controller="CategoriesController" class="content" ng-init="findOne()">
  <h1>Edit Category</h1>
  <section ng-show="error" class="alert alert-danger">{{error}}</section>
  <form ng-submit="update()">
    <div class="form-group">
      <label>Category Title</label>
      <input class="form-control" type="text" data-ng-model="category.title"/>
    </div>
    <button class="btn btn-warning">Edit</button>
    <button class="btn btn-danger" ng-click="remove(category)">Delete</button>
  </form>
</section>